body {
    padding-bottom: 20px;
    padding-top: 50px;
}

/* Set padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */

input,
select,
textarea {
    max-width: 280px;
}

/* Added desc for displaying days/hours/minutes/seconds on countdown */
.desc {
    margin: 7px 3px;
}

    .desc div {
        float: left;
        font-family: Arial;
        width: 70px;
        margin-right: 50px;
        font-size: 13px;
        font-weight: bold;
        color: #000;
    }
