@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<p>Her kan du finde kontaktoplysninger relevante for Jylan.dk</p>
<div class="row">
    <div class="col-md-12">
        <h3>JYLAN</h3>
        <address>
            <p>Grupper tilhørende LAN'et.</p>
            <a href="https://www.facebook.com/groups/449689918500950/" target="_blank" class="zocial facebook">Facebook gruppe</a><br />
            <a href="#" target="_blank" class="zocial steam">Steam gruppe - kommer</a>
        </address>
    </div>
    <div class="col-md-12">
        <h3>Tue Runge Pedersen</h3>
        <address>
            <p>Generelle spørgsmål og henvendelser omkring Jylan.</p>
            <a href="mailto:tuerunge@gmail.com" target="_blank" class="zocial email">tuerunge@gmail.com</a><br />
            <a href="tel:+4527822428" target="_blank" class="zocial call">+45 2782 2428</a><br />
            <a href="https://www.facebook.com/Tue.R.P" target="_blank" class="zocial facebook">Facebook</a>
        </address>
    </div>
    <div class="col-md-12">
        <h3>Asger Vestbjerg</h3>
        <address>
            <p>Hjemmeside programmering og design.</p>
            <a href="mailto:asgerv@gmail.com" target="_blank" class="zocial email">asgerv@gmail.com</a><br />
            <a href="https://my.linkedin.com/pub/asger-vestbjerg/b1/424/872" target="_blank" class="zocial linkedin">LinkedIn</a><br />
            <a href="http://blog.jornlife.dk" target="_blank" class="zocial lkdto">www.jornlife.dk</a>
        </address>
    </div>
</div>